
@Styles.Render("~/content/datatables")
@section scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/sb-admin-datatables")
    }
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>
        Data
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellpadding="0">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name of activity</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.Action("Filter")
                </tbody>

            </table>
        </div>
    </div>
</div>
