

<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header">Revenues</div>
            <div class="card-body">
                <h1>Test</h1>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header">Expenses</div>
            <div class="card-body">
                <h1>Test2</h1>
            </div>
        </div>
    </div>
</div>
