@model IQueryable<MyWallet.Models.TypesViewModel>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Name, new { @class = "form-control" })</td>
        <td>
            <button class="btn btn-primary" type="button">Edit</button>
            <button id="setDelete_@item.TypeId@item.Id" class="btn btn-primary" type="button">Delete</button>
        </td>
    </tr>
}


